<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <h1 id="headings">Services</h1>
        <div class="col-lg-4">
            <i class="fa fa-film fa-5x" aria-hidden="true"></i>
            <h2>Film Set Security</h2>
            <p>Also includes special events, concerts, TV shows and commercials</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <i class="fa fa-users fa-5x" aria-hidden="true"></i>
            <h2>Crowd Management</h2>
            <p>From large scale sporting events to local set crowds.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <i class="fa fa-car fa-5x" aria-hidden="true"></i>
            <h2>Traffic Control</h2>
            <p>We have all the necessary equipment from cones to experienced personnel.</p>

        </div><!-- /.col-lg-4 -->

        <img id="services_photo" src="/../assets/images/AdobeStock_100209133.jpeg" alt="Generic placeholder image">
    </div><!-- /.row -->